.image{

	background-image:url(/Administrador/src/contralador/images/image_1.png);
    width:586px;
	height:755px;
	position:absolute;
	left:-8px;
	top:0px;

	background-repeat:no-repeat;
	background-size:cover;
	
}
.principaLogo{
    
	background-image:url(/Administrador/src/contralador/images/inalto_inmobiliaria_logo_a105ca01ac_seeklogo_1.png);
    width:183px;
	height:150px;
	position:absolute;
	left:1335px;
	top:12px;

	background-repeat:no-repeat;
	background-size:cover;
}
.iniciarSesion{
    position: absolute;
    width: 557px;
    height: 482px;
    left: 796px;
    top: 185px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.correo{
    position: absolute;
width: 509px;
height: 62px;
top: 69px;
left: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-size: 20px;
}
.error{
    position: absolute;
    width: 509px;
    height: 62px;
    top: 150px;
    left: 20px;
    font-size: 20px;
    font-family: 'Roboto';
}
.errorgmail{
    position: absolute;
   top: 265px;
   left: 20px;
    font-family: 'Roboto';
    font-style: normal;
   font-weight: 400;
   font-size: 18px;
  line-height: 28px;


}
.correo::placeholder{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}
.password{
    position: absolute;
    width: 509px;
    height: 62px;
    left: 20px;
    top: 200px;
    font-size: 24px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.password::placeholder{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

}
.boton{
    position: absolute;
    width: 509px;
    height: 62px;
    left: 20px;
    top: 320px;
background: #B7D93D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
/* identical to box height */


color: #FFFFFF;
}
button{
    position: absolute;
    width: 509px;
    height: 62px;
   
    top: 320px;
background-color: #B7D93D !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
    left: 0;
}
.MensajeDeNoexistencia{
    color: #B7D93D;
    position: absolute;
    font-size: 24px;
    left: 148px;
    top: 280px;
}
.top{
    top: auto;
}

.row{
    background-color: #000;
}
